:root {
  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%);
  --font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--offWhite);
  padding-top: 6rem;
}

main {
  background-color: var(--white);
  border-radius: 1rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 1rem;
  margin: auto;
  max-width: 800px;
  width: 90%;

  & .data-entry {
    height: 3rem;
  }

  & form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    max-width: 320px;
    gap: 0.5rem;

    & .input-group {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      & label {
        text-transform: uppercase;
        font-size: 0.55rem;
        font-weight: 400;
        color: var(--smokeyGrey);
        letter-spacing: 2px;
      }

      & input {
        border: 1px solid var(--lightGrey);
        border-radius: 0.25rem;
        font-size: 0.8rem;
        height: 1.8rem;
        padding: 1rem 0.5rem;
        width: 3.5rem;
      }

      & input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      & input::placeholder,
      input:focus {
        font-size: 0.8rem;
        font-weight: 700;
      }

      & span {
        font-size: 0.4rem;
        font-style: italic;
        color: var(--lightRed);
      }

      & .label-error {
        color: var(--lightRed);
      }

      & .input-error {
        outline: 0.75px solid var(--lightRed);
      }
    }
  }

  .c-btn {
    border-top: 1px solid var(--lightGrey);
    height: 1px;
    position: relative;
    width: 100%;
    margin-top: 1.75rem;

    & button {
      background-color: var(--purple);
      border: none;
      border-radius: 50%;
      display: flex;
      align-items: center;
      padding: 0.5rem;
      position: absolute;
      bottom: -1.5rem;
      right: 40%;
      width: 60px;
      height: 60px;

      & img {
        width: 30px;
        margin: auto;
      }
    }

    & button:hover {
      cursor: pointer;
      background-color: var(--offBlack);
    }
  }

  & .results {
    display: flex;
    flex-direction: column;
    /* padding-top: 2rem; */

    & .result-group {
      display: flex;
      gap: 0.5rem;

      & .result {
        color: var(--purple);
      }

      & .result,
      .text {
        padding: 0;
        margin: 0;
        font-size: 2.25rem;
        font-style: italic;
        font-weight: 800;
      }
    }
  }
}

@media (min-width: 600px) {
  * {
    font-size: 32px;
  }

  body {
    padding-top: 1.5rem;
  }

  main {
    padding: 1rem 1.5rem;
    gap: 2.5rem;
  }
    
    .data-entry form {
      gap: 1.25rem;

      & .input-group input {
        width: 4.75rem;
      }
    }

    .c-btn {
      margin-top: 0.25rem;

      & button {
        top: -1.25rem;
        left: 90%;
        min-width: 80px;
        min-height: 80px;
        transition: 0.5s;

        & img {
          min-width: 40px;
        }
      }
    }

    .results {
      margin-top: 1.5rem;

      & .result,
      .text {
        font-size: 5rem;
      }
    }
  }